extends layout.pug

block style
    style
        include ../static/css/style.css
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")

block Content
    h1= article.title
    h4= article.author
    p= article.body
    a.btn.btn-primary(href='/article/edit/'+article._id) Edit

