extends layout.pug

block style
    style
        include ../static/css/style.css
        
block Content
    .container Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum molestias fugit labore accusantium, facere veritatis commodi consequatur cum impedit ipsam enim quis dolorem tempore nobis ullam laboriosam ea veniam animi optio praesentium obcaecati facilis aperiam! Ipsam odit molestiae voluptatum non vitae consequatur, autem sed quae reprehenderit! Dicta aspernatur reiciendis aliquid esse ex laboriosam et impedit laudantium tempora expedita.
        //- h1 #{title}
        //- ul.list-group
        //-     each article in articles
        //-         a(href="/article/"+article._id).list-group-item= article.title
    