* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 40px;
}
.nav-brand {
  width: 30%;
  margin: 10px 30px;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.navbar {
  width: 70%;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  margin: auto;
}
.navbar .navbar-nav .nav-items {
  margin: 5px;
  padding: 5px;
  list-style: none;
}
.navbar .navbar-nav .nav-items a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 2px;
}
.navbar .navbar-nav .nav-items a:hover {
  color: rgb(40, 146, 216);
}
